.login-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: -1px 2px 6px rgba(2, 48, 71, 0.54);
    background: rgb(0, 204, 255);
    background: linear-gradient(90deg, rgba(0, 204, 255, 1) 0%, rgba(115, 33, 188, 1) 100%);
}

.login-page p {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-with-google-btn {
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #3c4a5b;
    display: flex;
    align-items: center;
}

.login-with-google-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-with-google-btn:active {
    background-color: #f0f0f0;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}